/*@include gridGenerator(*/
  /*($breakpoint-s, $breakpoint-m, $breakpoint-l), // breakpoints*/
  /*'em',        // breakpoint type 'px' or 'em'*/
  /*12,          // number of grid columns*/
  /*$space,      // outer padding*/
  /*($space /2), // inner padding*/
  /*(s-, m-, l-) // grid prefixes: l-grid-half*/
/*);*/

// Additional Grid Classes
.grid-centered {
  float: none;
  margin: 0 auto;
}

.vertical-half {
  height: 50%;
  overflow: hidden;
  position: relative;
}
